<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/base_oficina</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>

    <!-- Auto criação da base da dados -->
    <property name="hbm2ddl.auto">create</property>

    <!-- Classes anotadas -->
    <mapping class="entidade.Cliente" />
    <mapping class="entidade.Compra" />
    <mapping class="entidade.Fornecedor" />
    <mapping class="entidade.Itemcompra" />
    <mapping class="entidade.Itemorcamentovenda" />
    <mapping class="entidade.Orcamentovenda" />
    <mapping class="entidade.Produtoservico" />
    <mapping class="entidade.Recebimento" />
    <mapping class="entidade.Usuario" />
    <mapping class="entidade.Veiculo" />

  </session-factory>
</hibernate-configuration>
